In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [16]:
df = pd.read_csv('./co2.csv',skiprows=3)

In [17]:
df.set_index('Country Name',inplace=True)

In [19]:
df.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,11092.675000,11576.71900,12713.489000,12178.10700,11840.743000,10623.299000,9933.903000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,AFE,CO2 emissions (kt),EN.ATM.CO2E.KT,118545.901306,123758.90333,128093.897815,132810.33253,144345.352398,155803.780096,157932.257312,...,559333.857277,580510.924989,601860.163983,586385.004029,592299.593959,601323.394691,600351.133333,NaN,NaN,NaN
Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,414.371000,491.37800,689.396000,707.73100,839.743000,1008.425000,1092.766000,...,10450.000000,8510.000000,7810.000000,7990.000000,7390.000000,7380.000000,7440.000000,NaN,NaN,NaN
Africa Western and Central,AFW,CO2 emissions (kt),EN.ATM.CO2E.KT,8760.463000,9376.51900,9710.216000,11540.04900,13985.938000,19827.469000,21246.598000,...,181740.000000,191990.000000,198440.000000,193060.000000,195120.000000,201900.000000,224380.000000,NaN,NaN,NaN
Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.050000,454.70800,1180.774000,1151.43800,1224.778000,1188.108000,1554.808000,...,30250.000000,32820.000000,34630.000000,35160.000000,35410.000000,30840.000000,27340.000000,NaN,NaN,NaN

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Name,,,,,,,,,,,,,,,,,,,,,
Africa Western and Central,AFW,CO2 emissions (kt),EN.ATM.CO2E.KT,8760.463000,9376.519000,9710.216000,11540.049000,13985.938000,19827.469000,21246.598000,...,1.817400e+05,1.919900e+05,1.984400e+05,1.930600e+05,1.951200e+05,2.019000e+05,2.243800e+05,NaN,NaN,NaN
Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.050000,454.708000,1180.774000,1151.438000,1224.778000,1188.108000,1554.808000,...,3.025000e+04,3.282000e+04,3.463000e+04,3.516000e+04,3.541000e+04,3.084000e+04,2.734000e+04,NaN,NaN,NaN
Albania,ALB,CO2 emissions (kt),EN.ATM.CO2E.KT,2024.184000,2280.874000,2464.224000,2082.856000,2016.850000,2174.531000,2552.232000,...,4.580000e+03,4.790000e+03,5.220000e+03,5.070000e+03,4.930000e+03,5.600000e+03,5.560000e+03,NaN,NaN,NaN
Andorra,AND,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.900000e+02,4.800000e+02,4.600000e+02,4.700000e+02,4.700000e+02,4.700000e+02,4.600000e+02,NaN,NaN,NaN
Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,56173.148551,62766.154643,70773.526287,85340.754831,99992.697978,120399.295874,136165.519588,...,1.675997e+06,1.706809e+06,1.784413e+06,1.828844e+06,1.846601e+06,1.865422e+06,1.863604e+06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,XKX,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",YEM,CO2 emissions (kt),EN.ATM.CO2E.KT,58.672000,73.340000,69.673000,80.674000,99.009000,102.676000,99.009000,...,1.968000e+04,2.635000e+04,2.671000e+04,1.421000e+04,1.088000e+04,1.006000e+04,9.310000e+03,NaN,NaN,NaN
South Africa,ZAF,CO2 emissions (kt),EN.ATM.CO2E.KT,97934.569000,102213.958000,105767.281000,109826.650000,119657.877000,128260.659000,128356.001000,...,4.267100e+05,4.368700e+05,4.479800e+05,4.248800e+05,4.251800e+05,4.351400e+05,4.332500e+05,NaN,NaN,NaN
Zambia,ZMB,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,3278.298000,3916.356000,3501.985000,...,4.020000e+03,4.240000e+03,4.800000e+03,5.070000e+03,5.590000e+03,6.990000e+03,7.740000e+03,NaN,NaN,NaN
Zimbabwe,ZWE,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,4473.740000,5214.474000,6046.883000,...,1.211000e+04,1.236000e+04,1.215000e+04,1.240000e+04,1.099000e+04,1.023000e+04,1.227000e+04,NaN,NaN,NaN